* {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: hsl(214, 17%, 92%);
    display: flex;
}

main {
    display: flex;
    width: 375px;
    max-width: 375px;
    justify-content: center;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 35px;
    margin: 40px 0;
}

.story-1 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    width: 325px;
}

.profile-1 {
    display: flex;
    max-width: fit-content;
    height: 60px;
    text-align: center;
    align-items: center;
    gap: 15px;

}


.profile-1 p b {
    font-size: 16px;
    font-weight: 600;
}

.profile-1 p {
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: hsl(214, 17%, 92%);
}





.profile-1 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}

.story-1 h3 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 21px;
}


.story-1 p {
    color: hsl(214, 17%, 92%);
    font-size: 14px;
    letter-spacing: 0.1px;
}



.story-2 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    width: 325px;
}

.profile-2 {
    display: flex;
    max-width: fit-content;
    height: 60px;
    text-align: center;
    align-items: center;
    gap: 15px;

}


.profile-2 p b {
    font-size: 16px;
    font-weight: 600;
}

.profile-2 p {
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: hsl(214, 17%, 92%);
}

.profile-2 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}

.story-2 h3 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 21px;
}


.story-2 p {
    color: hsl(214, 17%, 92%);
    font-size: 14px;
    letter-spacing: 0.1px;
}

.story-3 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    width: 325px;

}

.profile-3 {
    display: flex;
    max-width: fit-content;
    height: 60px;
    text-align: center;
    align-items: center;
    gap: 15px;

}


.profile-3 p b {
    font-size: 16px;
    font-weight: 600;
}

.profile-3 p {
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: hsla(217, 19%, 35%, 0.74);
}

.profile-3 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}

.story-3 h3 {
    font-weight: 600;
    color: hsl(217, 19%, 35%);
    font-size: 21px;
}

.story-3 p {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    letter-spacing: 0.1px;
}

.story-4 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(219, 29%, 14%);
    padding: 30px;
    width: 325px;
}

.profile-4 {
    display: flex;
    max-width: fit-content;
    height: 60px;
    text-align: center;
    align-items: center;
    gap: 15px;

}

.profile-4 p b {
    font-size: 16px;
    font-weight: 600;
}

.profile-4 p {
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: hsl(214, 17%, 92%);
}

.profile-4 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}

.story-4 h3 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 21px;
}


.story-4 p {
    color: hsl(214, 17%, 92%);
    font-size: 14px;
    letter-spacing: 0.1px;
}


.story-5 {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    width: 325px;

}

.profile-5 {
    display: flex;
    max-width: fit-content;
    height: 60px;
    text-align: center;
    align-items: center;
    gap: 15px;

}

.profile-5 p b {
    font-size: 16px;
    font-weight: 600;
}

.profile-5 p {
    height: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: hsla(217, 19%, 35%, 0.74);
}

.profile-5 img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid hsl(0, 0%, 100%);
}

.story-5 h3 {
    font-weight: 600;
    color: hsl(217, 19%, 35%);
    font-size: 21px;
}


.story-5 p {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    letter-spacing: 0.1px;
}


.shadow {
    box-shadow: 0px 6px 12px hsl(224, 10%, 45%);
}

@media (min-width: 992px) {

    main {
        display: grid;
        max-width: 1440px;
        width: 90vh;

    }

    .content {
        width: 90%;
        display: grid;
        grid-template-columns: 330px 310px auto auto;
        grid-row: auto auto;
        grid-area: span;
        align-items: center;
        justify-content: center;
        margin: 70px auto;
        gap: 20px;
        align-items: baseline;

    }


    .story-1 {
        width: 630px;
        background-image: url(../assets/images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-size: 130px;
        background-position: 410px 5px;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 3;
        height: 430px;
    }

    .story-2 {
        grid-column-start: 3;
        grid-row-start: 1;
        height: 440px;
    }


    .story-3 {
        grid-column-start: 1;
        grid-row-start: 2;
        height: 420px;
        height: 420px;
    }

    .content .bio {
        font-size: 19px;
    }

    .content .heading {
        font-size: 24px;
    }


    .story-4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        width: 660px;
        height: 420px;
    }

    .story-5 {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 885px;

    }

}